@charset "utf-8";

body {
    font-family: "Sawarabi Mincho";
    font-weight: 400;
    font-style: normal;
    padding: 120px 0;
    background: linear-gradient(45deg,
            rgba(225, 240, 255, 0.2),
            rgba(214, 236, 255, 0.2),
            rgba(216, 248, 255, 0.2),
            rgba(230, 214, 255, 0.2),
            rgba(255, 214, 250, 0.2),
            rgba(255, 228, 244, 0.2));
    backdrop-filter: blur(2px);
    color: #8a8aa3;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.horo {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.horo img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-bottom: 10px;
}

.card {
    text-align: center;
    background: rgba(230, 225, 245, 0.7);
    padding: 20px;
    border-radius: 20px;
}

.card h2 {
    font-size: 20px;
}

.card p {
    margin-bottom: 10px;
}

.card:hover {
    background: rgba(210, 220, 250, 0.85);
    transition: 0.8s;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    max-width: 90%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#popup.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup button {
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    background: rgb(230, 225, 245);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#popup button:hover {
    background: rgb(210, 220, 250);
    transition: 0.5s;
}

@media (width<640px) {
    .horo {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .card {
        padding-right: 100px;
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;
    }

    .text {
        text-align: left;
    }
}